@font-face
{
    font-family: 'PT Sans Narrow';
    src: url('./fonts/PTSans-Narrow.eot');
    src: local('PT Sans Narrow')
        , local('PTSans-Narrow')
        , url('./fonts/PTSans-Narrow.eot?#iefix') format('embedded-opentype')
        , url('./fonts/PTSans-Narrow.woff2') format('woff2')
        , url('./fonts/PTSans-Narrow.woff') format('woff')
        , url('./fonts/PTSans-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'Arial', sans-serif;
}

img
{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

figure
{
    margin: 0;
}

.header-title
{
    font-size: 32px;
    font-family: 'PT Sans Narrow';
    text-align: center;
    position: fixed;

}

.header-title:first-letter
{
    color: #FF0000;
}

.dislay-check
{
    display: none;
}

.dislay-check:checked ~ .display .fa
{
    transform: rotate(90deg);
}

.dislay-check:checked ~ .cats .cat
{
    display: block;
    width: 300px;
}

.dislay-check:checked ~ .cats .cat .shortinfo
{
    display: none;
}

.dislay-check:checked ~ .cats .cat .longinfo
{
    display: block;
    color: grey;
}

.dislay-check ~ .cats .cat .longinfo
{
    display: none;
}

.cats
{
    padding: 10px;
}

.cat
{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 350px;
    box-shadow: 0 4px 29px 0 rgba(0,0,0,.4);
    margin: 10px;
    overflow: hidden;
}

.cat-discription
{
    padding: 10px;
}

.cat-name
{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cat-discription span
{
    color: grey;
}

.cat-status
{
    display: block;
    margin-top: 15px;
}

.cat-discription span:hover
{
    font-style: oblique;
}

.cat-photo:hover
{
    transform: scale(1.15, 1.15);
}

.footer
{
    font-size: 14px;
    font-family: Arial;
}

.footer a
{
    color: #4c4cd8
}
